<html>
    <head>
        <title> lul </title>
    </head>
    <body>
        <form action="/" method="POST">
            Search by Title:
            <input type = "text" name = "title">
            <input type = "submit" name = "search">
        </form>
        <form action="/" method="POST">
            Search by Genre:
            <input type = "text" name = "genre">
            <input type = "submit" name = "search">
        </form>
        <form action="/" method="POST">
            Search by Year: 
            <input type = "text" name = "year">
            <input type = "submit" name = "search">
        </form>
        <form action="/" method="POST">
            Search by Director:
            <input type = "text" name = "director">
            <input type = "submit" name = "search">
        </form>
    
        <!-- return results -->
        
        <table border="1">
            <tr>
                <th> Title </th>
                <th> Year </th>
                <th> Director </th>
                <th> Cast </th>
                <th> Genre </th>
                <th> Notes </th>
            </tr>
        {% for each in info %}
            <tr>
                    <td> {{each["title"]}} </td>
                    <td> {{each["year"]}} </td>
                    <td> {{each["director"]}} </td>
                    <td> {{each["cast"]}} </td>
                    <td> {{each["genre"]}} </td>
                    <td> {{each["notes"]}} </td>
            </tr>
        {% endfor %}
        </table>
        
    </body>
</html>